<div class="container header-inner">
	<a href="index.html" class="logo">FocusWare.</a>

	<input type="checkbox" id="menu-toggle" class="menu-checkbox">
	<label for="menu-toggle" class="menu-icon"><span class="nav-icon"></span></label>

	<nav class="nav">
		<ul class="nav-list">
			<li class="nav-item">
				<a href="index.html" class="nav-link" data-page="home">Home</a>
			</li>

			<li class="nav-item has-dropdown">
				<a href="products.html" class="nav-link" data-page="products">Products</a>
				<ul class="dropdown-menu">
					<li><a href="#" class="dropdown-link">Task Master (ToDo)</a></li>
					<li><a href="#" class="dropdown-link">Mind Note (Memo)</a></li>
					<li><a href="#" class="dropdown-link">Focus Timer</a></li>
				</ul>
			</li>

			<li class="nav-item">
				<a href="#" class="nav-link" data-page="about">About Us</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link" data-page="careers">Careers</a>
			</li>

			<li class="nav-item mobile-cta">
				<a href="#" class="btn-primary">Contact</a>
			</li>
		</ul>
	</nav>

	<a href="#" class="btn-primary desktop-cta">Contact</a>
</div>